# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.vim]
indent_style = tab

# matches other purescript-contrib projects
[*.md]
indent_style = space
indent_size = 2

[CHANGELOG.md]
indent_size = unset
